#Ignore everything.
*
# Don't ignore directories.
!*/
#Don't ignore .gitignore and don't ignore [preferred files].
!.gitignore
!*.jl
!*.do
!*.py
!*.m
!*.slurm
!*.sh
!*.r
!*.stan
!*.ipynb
!*.tex
!*.sty
!*.txt
!*.f


!gn11
!gn11c
!gn100011
!gn200011
!fort.13

.Rproj.user
.ipynb_checkpoints
.DS_Store
